{% extends "forms/base.html" %}
 
{% block content %}
<div class="container">
    <h2>Form</h2>
    <form action="{% url 'forms:comp' %}" method="POST">
        <table class="table table-bordered">
            {% for field in form %}
                {% if errors in field%}
                    <div id="error">
                         {{ field.errors }}
                    </div>
                {% endif%}
                
                {% if field.name in radio_form %}
                    <tr class="warning">
                        <td>{{ field.label }}</td>
                        <td>
                            {% for radio in field %}
                                <div class="radio">
                                    {{ radio.tag }}
                                    <label>{{ radio.choice_label }}</label>
                                </div>
                            {% endfor %}
                        </td>
                    </tr>
                {% else %}
                    <tr class="warning">
                        <td>{{ field.label_tag }}</td>
                        <td>{{ field }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% csrf_token %}
    <input class="btn btn-success btn-block btn-lg" type="submit" value="送信">
    </form>
</div>
{% endblock %}