{% extends "forms/base.html" %}
 
{% block content %}
<script>
    $(function() {
        $('tr.first_diameter').css('display', 'none');
        $('tr.used_count').css('display', 'none');
        $('tr.StartEnd input[type="radio"]').change(function() {
            var num = $("[name='StartEnd']").index(this);
            if(num == 1){
                    $('tr.used_count').hide();
                    $('tr.first_diameter').show();
                } else {
                    $('tr.first_diameter').hide();
                    $('tr.used_count').show();
            }
        });
    });
</script>
<div class="container">
    <h2>Form</h2>
    <form action="{% url 'forms:comp' %}" method="POST">
        <table class="table table-bordered">
            {% for field in form %}
                {% if errors in field%}
                    <div id="error">
                         {{ field.errors }}
                    </div>
                {% endif%}
                
                <tr class="warning {{ field.name }}">
                    {% if field.name in radio_form %}
                        <td>{{ field.label }}</td>
                        <td>
                            {% for radio in field %}
                                <div class="radio">
                                    <label>
                                        {{ radio.tag }}
                                        {{ radio.choice_label }}
                                    </label>
                                </div>
                            {% endfor %}
                        </td>
                    {% else %}
                        <td>{{ field.label_tag }}</td>
                        <td>{{ field }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% csrf_token %}
    <input class="btn btn-success btn-block btn-lg" type="submit" value="送信">
    </form>
</div>
{% endblock %}